*{
	box-sizing: border-box;
}

html, body{
	min-height:  100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

.wrapper{
	height: 100%;
	width: 80%;
	margin: auto;
}

.card{
	border: 1px black dotted;
	margin-top:1rem;


}

.card img{
	width: 100%;
	display: block;
}



.card h1{
	background: #fff;
	padding: 5px;
	border: 3px solid #3f888f;
	outline: 2px solid pink;
}

.row{
	display: block;
}

@media (min-width: 960px) {
	body{
		background: red;
	}

/* das ist ein kommentar */
	.row{
		display: flex;
		min-height: 600px;
		background: blue;

	}

}

@media (min-width: 1200px) {
	body{
		background: yellow;
	}
}
