*{
	box-sizing: border-box;
}

html, body{
	min-height:  100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

.wrapper{
	background: yellow;
	height: 100%;
	width: 80%;
	margin: auto;
}

.card{
	border: 1px black dotted;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card img{
	width: 100%;
	display: block;
}



.card h1{
	position: absolute;

	background: #fff;
	padding: 5px;

	border: 3px solid #3f888f;
	outline: 2px solid pink;
/*
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%); */


}



@media (min-width: 1024px){

	body{
		background: red;
	}

	.row{
		display: flex;
	}

	.card{
		margin: 5px;
	}

	/* .card{
		float: left;
		width: 33.33333333%
	} */


}
