*{
	box-sizing: border-box;
}

html, body{
	min-height:  100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

.wrapper{
	height: 100%;
	width: 80%;
	margin: auto;
}

.card{
	border: 1px black dotted;
	margin-top:1rem;


}

.card img{
	width: 100%;
	display: block;
}



.card h1{
	background:purple;
	padding: 5px;
	
}

.row{
	display: block;
}

#blau{
	width: 200px;
	height: 200px;
	background: blue;
}

#rot{
	width: 200px;
	height: 200px;
	background: red;
}
/*Responsive design Befehl Media Query heisst @media und runde Klammer. Mit der geschweiften Klammer beginnt dann der Styleguide für das responsive design. Daher am Ende 2 gschweifte Klammern nötig */
@media (min-width:980px){
.row{
	display: flex;
}
/*Überschrift zentriert und all Caps einstellen*/
h1{
	text-align: center; 
	text-transform: uppercase;
	background-color:white;
}
#blau{display:none;}
	
}/* Hier endet der media query*/

/*hier beginnt ein neuer media query*/
@media (min-width:1600px){
.wrapper{
	width: 70%;
}
#rot{
	width: 200px;
	height: 200px;
	background-color: red;
	display: none; 
}
#blau{
	width: 200px;
	height: 200px;
	background-color: blue;
	display: block
}
}
