*{
	box-sizing: border-box;
}

html, body{
	min-height:  100%;
	width:  100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
}

.wrapper{
	background: yellow;
	height: 100%;
	width: 80%;
	margin: auto;
}

.card{
	border: 1px black dotted;
	position: relative;

}

.card img{
	width: 100%;
	display: block;
}



.card h1{
	position: absolute;
	left: 0;
	bottom: 0;
	background: #fff;
	padding: 5px;
	border: 3px solid #3f888f;
	outline: 2px solid pink;
}

@media (min-width:768px) and (max-width: 1023px){
	body{
		background: black;
	}
}


@media (min-width: 1024px){

	.row{
		display: flex;
	}

}

@media (min-width:1280px) {
	h1{
		font-size: 32px;
		color: red;
	}
}
